.navbar {
  .dropdown-menu {
    min-width: 70vw;
  }
  .dropdown {
    position: relative;
    &.show {
      min-width: 100%;
    }
  }
}

.main-footer {
  background-color: #000;
  color: white;
}
