.product-listing {
  .single-product {
    ._img {
      background-origin: 0, 0;
      background-position: center, center;
      background-size: contain;
      background-repeat: no-repeat;
      width: 100%;
      transition: background-size ease-out 4s;
      height: 15rem;
      @media screen and (min-width:700px) {
        height: 25rem;
      }
    }
    &:hover {
      ._img {
        transition: background-size ease-in 4s;
        background-size: 101%;
      }
    }
    ._name {
      color: $alpha-color;
    }
  }
}
