@import 'fonts/swiss721.css';
$paragraph-font: adobe-caslon-pro;
$title-font: 'swis721';

:root {
  --base-font-size: 16px;
  --type-scale: 1.25;
  --h5: calc(var(--base-font-size) * var(--type-scale));
  --h4: calc(var(--h5) * var(--type-scale));
  --h3: calc(var(--h4) * var(--type-scale));
  --h2: calc(var(--h3) * var(--type-scale));
  --h1: calc(var(--h2) * var(--type-scale));
  --buton-font: calc(var(--h5) * (var(--type-scale) * 0.7));
}

h1 {
  margin-top: 0;
  font-size: var(--h1);
}

h2 {
  font-size: var(--h2);
}

h3 {
  font-size: var(--h3);
}

h4 {
  font-size: var(--h4);
}

h5 {
  font-size: var(--h5);
}

h6,
button,
.cta-form {
  font-size: var(--buton-font);
  font-family: $title-font;
}

html {
  font-size: 100%;
}

body {
  line-height: 1.65;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: $title-font;
  line-height: 1.15;
  color: $title-font;
}

h1,
h2,
h3 {
  font-weight: 900;
}

h4,
h5 {
  font-weight: 700;
}

span,
small,
p {
  font-weight: 400;
  font-family: $paragraph-font;
}

small,
.text_small {
  font-size: calc(var(--base-font-size) / var(--type-scale));
}

@media (min-width: 480px) {
  :root {
    --base-font-size: 16px;
  }
}

@media (min-width: 768px) {
  :root {
    --base-font-size: 1em;
  }
}
